.card {
  border-radius: 2px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  margin: 10px 0px;
  height: 280px;
  width: 280px;
}

.card > .img-container {
  height: 100%;
  overflow: auto;
  background-color: white;
  margin: 7px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card img {
  background-color: white;
}
